{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Tarea</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Actualizar</button>
    {{ form_end(form) }}

    <a href="{{ path('task_index') }}">Volver a la lista</a>
{% endblock %}
