{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task list</h1>
    {% for task in tasks %}
        <div class="bg-white shadow-md rounded-lg p-6 mb-4">
            <h2 class="text-xl font-bold text-gray-800 mb-2">{{ task.title }}</h2>
            <p class="text-gray-600 mb-4">{{ task.description }}</p>
            <p class="text-sm text-gray-500">Hacer antes de: {{ task.dueDate | date('d-m-Y H:i') }}</p>
        </div>
    {% else %}
        <p>No hay tareas pendientes para este usuario.</p>
    {% endfor %}

{% endblock %}
